<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastro</title>
    <script src="vue.global.js"></script>
    <link rel="stylesheet" href="stylecadastro.css"/>
</head>
<body>
    <div id="app">
        <h1>Cadastro de Novo Usuário</h1>
        <form>
            <label for="newUsername">Nome de usuário:</label> 
            <input type="text" v-model="newUsername" required>
            <label for="newPasswoed">Senha:</label>
            <input type="password" v-model="newPasswoed" required>
            <label for="confirmPassword">Confirmar senha:</label>
            <input type="password" v-model="confirmPassword" required>

            <button type= "submit" @click.prevent="adicionarUsuario">cadastrar</button>

        </form><!--fechamento form-->

        <p>Usuário: {{usuario}}</p>
        <!-- <p>Senha: {{senha}}</p> -->

        <p class="erro" :class="{entrada: mostrarEntrada}">{{erro}}</p>
        <p class="sucesso" :class="{entrada: mostrarEntrada}">{{sucesso}}</p>
        <!-- processo de listagem dos usuarios e senhas cadastrados nos vetores -->
        <div>
            <button @click="listarUsuarios">
                {{mostrarLista ? "Ocultar Lista" : "Mostrar Lista"}}
            </button>
            <!-- lista dos usuarios cadastrados -->
            <ol v-if="mostrarLista">
                <li v-for="(usuario,index) in usuarios">
                    Usuário: {{usuario}}, Senha: {{senhas[index]}}
                    <button class="botao"@click="  excluirUsuario(usuario)">Excluir</button>
                </li><!--fechamento linha-->
            </ol><!--fechamento lista ordenada-->
        </div><!--fechamento subdiv-->
    </div><!--fechamento div principal-->
    <script src="processatual.js"></script>
    
</body>
</html>