<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Franca-Zoo</title>
    <script src="vue.global.js"></script>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>

     <!-- conteúdo do cabeçalho da página -->
     <header>
        <!-- seção de navegação do html  -->
        <nav>
            <ul>
                <li><a href="#home">Início</a></li>
                <li><a href="#destinos">Animais</a></li>
                <li><a href="#contato">Login</a></li>
            </ul><!--fechamento lista-->
        </nav><!--fechamento tag nav-->
    </header><!--fechamento tag header-->
<section class="sectiongeral" id="app"><!--section geral da página-->
    <section id="home"><!--section home-->
        <h1>Franca-Zoo</h1>
        <p class="paragrafo">Para quem ama animais!</p>
    </section><!--fechamento seção-->
    <section id="destinos"><!--section destinos-->
        <h2 class="principais">Principais Animais do Nosso Zoo:</h2>
        <div class="destino">
            <img src="imagens/zebras-planicie.webp">
            <h3>zebra-da-planície</h3><!--titulo zebra-->
            <p>Características gerais da zebra
                Zebras são animais que apresentam um corpo muito semelhante ao dos cavalos. Possuem casco, sua cabeça é grande e longa, seus olhos são voltados para os lados, seus dentes são compatíveis com a dentição de um herbívoro, possuem crinas e cauda com tufos de cabelo na ponta. Sem dúvidas, a característica mais marcante desse animal é a presença de listras em seu corpo.</p>
        </div><!--fechamento div destinos 1-->

        <div class="destino">
            <img src="imagens/girafaimagem.webp">
            <h3>Girafa do Norte</h3><!--titulo girafa-->
            <p>As girafas, como todos os mamíferos, possuem sete vértebras cervicais. Os seus pescoços, entretanto, são os maiores dos animais atuais, pelo que é pouco flexível. Por causa de seu pescoço comprido e rígido, seu sistema vascular tem a maior pressão sanguínea do reino animal.</p>
        </div><!--fechamento div destino 2-->

        <div class="destino">
            <img src="imagens/istockphoto-492611032-612x612.jpg">
            <h3>Leão-Africano</h3><!--titulo leão-->
            <p>O leão é um mamífero pertencente à ordem Carnivora e família Felidae, sendo conhecido como “rei das selvas”. Ele se alimenta de outros animais, como gnus e zebras, e vive em grupos, que apresentam divisões bem marcadas, sendo o macho responsável pela defesa do grupo e a fêmea pela caça e cuidado com os filhotes.</p>
        </div>
        <h1 class="agendar">Quer ver nossos horários de funcionamento? Faça Login!</h1>

    </section><!--fechamento da seçao destinos-->
    <section id="contato"><!--section login-->
    <div id="">
        <h1 class="h1login">Login:</h1>
        <form>
            <label for="usuario">Nome de Usuário:</label>
            <input type="text" v-model="usuario" required>

            <label for="senha">Senha:</label>
            <input type="password" v-model="senha">

            <button class="entrar" type="submit" @click.prevent="login2">Entrar</button>
        </form><!--Fechamento form-->

        <p v-if="userAdmin"> <!--variavel do usuario admin-->
            <button class="cadastrados" @click="paginaCadastro">Cadastrados</button>
        </p>

        <h1 class="h1cadastro">Cadastrar:</h1>
        <form> <!--formulario-->
            <label for="newUsername">Nome de usuário:</label>
            <input type="text" v-model="newUsername" required>

            <label for="newPassword">Senha:</label>
            <input type="password" v-model="newPassword" required>

            <label for="confirmPassword">Confirma Senha:</label>
            <input type="password" v-model="confirmPassword" required>

            <button class="Cadastrar" type="submit" @click.prevent="adicionarUsuario">Cadastrar</button>

        </form><!--Fechamento form-->

        <p class="erro" :class="{entrada: mostrarEntrada}">{{erro}}</p> <!--mensagens de erro e sucesso-->
        <p class="sucesso" :class="{entrada: mostrarEntrada}">{{sucesso}}</p>

    </div><!--Fechamento div principal-->

    <section v-if="userpadrao" > <!--section userpadrao-->
        <h1 class="h1horarios">Horários de Funcionamento</h1> <!--Horarios de funcionamento-->
   <div>
    <h1 class="h1domingo">Domingos</h1> <!--horarios de domingo-->
    <p>07:00</p>
    <p>08:30</p>
    <p>09:20</p>
    <p>10:40</p>
    <p>13:00</p>
    <p>15:30</p>
    <h1 class="h1quarta">Quarta-feira</h1> <!--horarios de quarta-feira-->
    <p>07:30</p>
    <p>08:40</p>
    <p>09:00</p>
    <p>10:00</p>
    <p>11:20</p>
    <p>12:00</p>
    <h1 class="h1sexta">Sexta-feira</h1> <!--horarios de sexta-feira-->
    <p>07:00</p>
    <p>08:50</p>
    <p>09:20</p>
    <p>09:40</p>
    <p>10:10</p>
    <p>11:40</p>
   </div>
    </section>
</section><!--fechamento da section geral-->

    <footer><!--roda pé-->
        <p>&copy; 2023 Franca-Zoo. Todos os Direitos Reservados.</p>
    </footer><!--fechamento roda pé-->
    <script src="processAtual.js"></script>  
    
    <footer><!--roda pé-->
        <p> Miguel,  Cauã e Ronny
            Contato: 4002-8922
        </p> 
    </footer><!--fechamento roda pé-->
</body><!--fechamento do body-->
</html><!--fechamento html-->