*{
    margin:0;
    padding: 0;
}

.erro{
    color:red;
    font-size: 1.5rem;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.sucesso{
    color:rgb(2, 188, 2);
    font-size: 1.5rem;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.entrada{
    opacity: 1;
}

body{
    font-family: Verdana, sans-serif;
    background-image: url(https://img.freepik.com/vetores-premium/padrao-de-girafa-fundo-abstrato-pele-de-animal-selvagem-design-de-impressao-plana-ilustracao-vetorial_463676-1358.jpg);

}

#app{
    width: 60%;
    background-color:#737272;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 1px 1px 15px gray;
    border-radius: 10px;
    text-align: center;
    
}

h1{
    margin-top: 30px;
}

form{
    background-color: none;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    align-items: center;
    
    
}

label{
    margin-bottom: 8px;
    color: aliceblue;
    
}

input[type="text"], input[type="password"]{
    padding: 13px;
    border-radius: 10px;
    border: none;

    /* border-style: solid; */
    /* border-color: brown; */

    margin-bottom: 10px;
    font-size: 1.2rem;  
    color: #333;  
}

input[type="text"]{
    /* width: 400px; */
    width: 80%;
}

input[type="password"]{
    /* width: 250px;*/
    width:60% 
}

button{
    padding: 10px;
    background-color: black;
    color: azure;
    border-style: solid;
    border-color: white;
    border-radius: 10px;

    cursor: pointer;
    font-size: 1.2rem;
    min-width: 20%;
}


header{
    /* background-color: rgb(212, 138, 1); */
    background-color: #333;
    color: rgb(243, 239, 239);
    padding: 20px;
    text-align: center;

}
nav ul{
    list-style-type: none;
}
nav ul li{
    display: inline;
    margin-right: 20px;
}

nav ul li a{
    color: rgb(243, 239, 239);
    text-decoration: none;
}
section{
    padding: 20px;
    background-color: aliceblue;
    

    
}
.destino{
    margin-bottom: 30px;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
    /* background-color: rgb(212, 138, 1); */
    /* color: black; */
    background-color: #333;
    color: white;
    cursor: pointer;
    

}
.destino img{
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 10px;
    
}
footer{
    background-color: #333;
    color: rgb(243, 239, 239);
    padding: 20px;
    text-align: center;
    
}


h3{
    text-align: center;
    text-decoration: underline;
    font-size: 2rem;
    margin-bottom: 15px;
}
h2{
    text-align: center;
    /* text-decoration: underline; */
    font-size: 2rem;
}
h1{
    text-align: center;
    /* text-decoration: underline; */
    font-family: cursive;
    font-size: 40px;
}
p{
    text-align: center;
}


.login{
    color: #333;
    font-size: 2.5rem;
    
}
.paragrafo{
    font-size: 1.5rem;
}
.principais{
    margin-bottom:20px;
    font-size: 3rem;
}
.agendar{
    font-family: arial,sans-serif;
    margin-top: 30px;
}
.fcadastro{
    color: #333;
    font-size: 2.5rem;

}
.body2{
    background-color: aliceblue;
}
div{
    margin-bottom: 30px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
    /* background-color: rgb(212, 138, 1); */
    /* color: black; */
    background-color: #333;
    color: white;
    cursor: pointer;
    height: auto;
    margin-top: 70px;

}
.h1horarios{
    margin-top: 20px;
    text-decoration: underline;
    font-family: arial,sans-serif;

}
.header2{
    background-color: #333;
    color: rgb(243, 239, 239);
    padding: 20px;
    text-align: center;
    

}
.h1domingo,.h1quarta,.h1sexta{
    font-family: arial,sans-serif;
    margin-bottom: 15px;
    text-decoration: underline;
    color: red;

}
.entrar{
    padding: 10px;
    background-color: black;
    color: azure;
    border-style: solid;
    border-color: white;
    border-radius: 10px;

    cursor: pointer;
    font-size: 1.2rem;
    min-width: 20%;
    margin-bottom: 15px;
}
form button:hover{
    background-color: rgb(57, 57, 60);
}
.h1login{
    color: rgb(220, 220, 220);
    font-family: Verdana, sans-serif;
}
.h1cadastro{
    color: rgb(220, 220, 220);
    font-family: Verdana, sans-serif;
}
label{
    color: white
}
.h1domingo{
    color: red;
}

/* configuracoes pagina cadastrados */


.divcadastro{
    background-color: azure;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
}
.olcadastro{
    margin-top: 10px;
    list-style-type:none;
    align-items: center;
    justify-items: center;
    padding: 0;
    margin:0;
}
.licadastro{
    border-style: solid;
    border-color: black;
    margin-bottom: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0px;
}
.botao{
    margin-right: 0px;
    margin-top: 0px;
}
.botaocadastro{
    display: block;
    width: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: black;
    color: rgb(243, 243, 240);
    border-style: solid;
    border-color: white;
    cursor:pointer;
    font-size: 1.1rem;
}







    

