<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Franca-Zoo</title>
    <link rel="stylesheet" href="style.css">
    <script src="vue.global.js"></script>
</head>
<body>
    <!-- conteúdo do cabeçalho da página -->
    <header>
        <!-- seção de navegação do html  -->
        <nav>
            <ul>
                <li><a href="#home">Inicio</a></li>
                <li><a href="#destinos">Animais</a></li>
                <li><a href="#contato">Duvidas</a></li>
            </ul><!--fechamento lista-->
        </nav><!--fechamento tag nav-->
    </header><!--fechamento tag header-->

    <section id="home">
        <h1>{{mensagem}}</h1>
        <p class="paragrafo">Para quem ama aimais!</p>
    </section><!--fechamento seção-->
    <section id="destinos">
        <h2 class="principais">Principais Animais do Nosso Zoo:</h2>
        <div class="destino">
            <img src="https://s5.static.brasilescola.uol.com.br/be/2021/09/zebras-planicie.jpg">
            <h3>zebra-da-planície</h3>
            <p>Características gerais da zebra
                Zebras são animais que apresentam um corpo muito semelhante ao dos cavalos. Possuem casco, sua cabeça é grande e longa, seus olhos são voltados para os lados, seus dentes são compatíveis com a dentição de um herbívoro, possuem crinas e cauda com tufos de cabelo na ponta. Sem dúvidas, a característica mais marcante desse animal é a presença de listras em seu corpo.</p>
        </div><!--fechamento div destinos 1-->

        <div class="destino">
            <img src="https://mega.ibxk.com.br/2014/10/31/31154830884249.jpg?ims=610x">
            <h3>Girafa do Norte</h3>
            <p>As girafas, como todos os mamíferos, possuem sete vértebras cervicais. Os seus pescoços, entretanto, são os maiores dos animais atuais, pelo que é pouco flexível. Por causa de seu pescoço comprido e rígido, seu sistema vascular tem a maior pressão sanguínea do reino animal.</p>
        </div><!--fechamento div destino 2-->

        <div class="destino">
            <img src="https://media.istockphoto.com/id/492611032/pt/foto/o-king.jpg?s=612x612&w=0&k=20&c=RexYqJrsBJLvKlTFiWIsZBcx3fblKumzO_m3acqIE2E=">
            <h3>Leão-Africano</h3>
            <p>O leão é um mamífero pertencente à ordem Carnivora e família Felidae, sendo conhecido como “rei das selvas”. Ele se alimenta de outros animais, como gnus e zebras, e vive em grupos, que apresentam divisões bem marcadas, sendo o macho responsável pela defesa do grupo e a fêmea pela caça e cuidado com os filhotes.</p>
        </div>

    </section><!--fechamento da seçao destinos-->
    <section id="contato">
        <h2 class="duvidas">Duvidas?  nos envie uma mensagem!</h2>
        <form>
            <Label for="nome">Nome:</Label>
            <input type="text" v-model="nome"required>

            <label for="email">E-mail:</label>
            <input type="email" v-model="email"required>

            <label for="msg">Mensagem:</label>
            <textarea v-model="msg" required></textarea>

            <button type="submit">ENVIAR</button>
        </form><!--fechamento form-->
    </section><!--fechamento seçao contato-->
        <!-- configuraçao do rodapé da página -->
    <footer>
        <p>&copy; 2023 Franca-Zoo. Todos os direitos reservados.</p>
    </footer>
    <!--fazendo a chamada do script javascript-->
    <script src="process.js"></script>
    
</body>
</html>