*{
    padding: 0;
    margin: 0;
}
body{
    font-family: arial,sans-serif;
    background-color: rgb(231, 231, 232);
    background-image: url(https://img.freepik.com/vetores-premium/padrao-de-girafa-fundo-abstrato-pele-de-animal-selvagem-design-de-impressao-plana-ilustracao-vetorial_463676-1357.jpg);
    color: white;
    
}
header{
    /* background-color: rgb(212, 138, 1); */
    background-color: #333;
    color: rgb(243, 239, 239);
    padding: 20px;
    text-align: center;

}
nav ul{
    list-style-type: none;
}
nav ul li{
    display: inline;
    margin-right: 20px;
}

nav ul li a{
    color: rgb(243, 239, 239);
    text-decoration: none;
}
section{
    padding: 20px;
}
.destino{
    margin-bottom: 30px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
    /* background-color: rgb(212, 138, 1); */
    /* color: black; */
    background-color: #333;
    color: white;
    cursor: pointer;

}
.destino img{
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 10px;
    
}
footer{
    background-color: #333;
    color: rgb(243, 239, 239);
    padding: 20px;
    text-align: center;
}
form{
    max-width: 400px;
    margin: 0 auto;  
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 40px;
      
}
label{
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}
form input,textarea{
    width:100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    margin-bottom: 15px;
}
h3{
    text-align: center;
    text-decoration: underline;
    font-size: 2rem;
    margin-bottom: 15px;
}
h2{
    text-align: center;
    /* text-decoration: underline; */
    font-size: 2rem;
}
h1{
    text-align: center;
    /* text-decoration: underline; */
    font-family: cursive;
    font-size: 40px;
}
p{
    text-align: center;
}
form button{
    padding: 10px 20px;
    background-color: #333;
    color: rgb(243, 239, 239);
    border: none;
    border-radius: 10px;
    cursor: pointer;   
}
form button:hover{
    background-color: #737272;
}
.duvidas{
    color: white;
}
.paragrafo{
    font-size: 1.5rem;
}
.principais{
    margin-bottom:20px;
    font-size: 3rem;
}
