body{
    /*estilos referentes ao corpo do html*/
    background-color: rgb(211, 211, 210);
    font-family: Verdana, sans-serif;
    color: green;
}

h1{
    text-align: center;
    color: rgba(2, 14, 93, 1);
    margin-top: 80px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
li{
    margin: 10px;
}

a{
    display: block;
    text-align: center;
    color: rgb(240, 240, 240);
    background-color: rgba(24, 119, 242, 1);
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}
a:hover{
    background-color: rgb(7, 140, 185);
    color: rgb(16, 16, 16);
}
.instagram{
    background-image: linear-gradient(to bottom right,rgba(60, 103, 206, 1),rgba(182, 47, 182, 1),rgba(230, 69, 111, 1),rgba(255, 185, 79, 1));

}

.twitter{
    background-color: rgba(29, 155, 240, 1);
}
   
