.calculadora{
    background-color: rgb(81, 125, 125);
    font-size: 2rem;
    padding: 20px;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    border: 1px solid rgb(80, 79, 79);
    flex-direction: column;
    display: flex;
    align-items: center;
    position:fixed;
    transform: translate(-50%,-50%);
}/*fechamento calculadora*/
.tela{
    background-color: beige;color: black;
    height: 80px;
    width: 93%;
    border-radius: 10px;
    border:4px solid rgb(36, 162, 171);
    padding: 10px;
    margin-bottom: 20px;
    /* font-size: 3rem; */
    justify-content: flex-end;
    display: flex;
    align-items: center;
}
.configbotao{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.linha{
    display: flex;
    margin-top: 5px;
}
button{
    font-size: 2rem;
    height: 80px;
    width: 80px;
    margin-right: 5px;
    border:1px solid gray;
    border-radius: 35px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(194, 194, 194);
}
.c{
    background-color: red;
    color: white;
  
}
.c:hover{
    background-color: crimson;
}