.erro{
    color:red;
    font-size: 1.5rem;
    opacity: 0;
    transition: opacitty 0.5s ease-in;
    
}
.sucesso{
    color:green;
    font-size: 1.5rem;
    opacity: 0;
    transition: opacitty 0.5s ease-in;     
}
.entrada{
    opacity: 1;
}
body{
    font-family: Verdana, sans-serif;
    
}
#app{
    max-width: 500px;
    background-color: rgb(195, 195, 195);
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 15px 15px gray;
    border-radius: 15px;
    text-align: center;
}
h1{
    margin-top: 0;
}
form{
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    
}
label{
    margin-bottom: 8px;
}
input[type="text"], input[type="password"]{
    padding: 13px;
    border-radius: 10px;
    border-style: none;
    margin-bottom: 10px;
    margin-left: 60px;
    margin-right: 60px;
    font-size: 1rem;
    
}
button{
    margin-left:150px ;
    margin-right:150px ;
    border-radius: 50px;
    background-color: blue;
    color: white;
    cursor:pointer;
    height: 40px;


    
}
button:hover{
    background-color:rgb(97, 97, 224) ;
    
}
    