h1{
    font-size: 36px;
    color: rgb(150, 5, 240);
    margin-top: 0;
    font-family: arial,sans-serif;
    text-decoration:underline ;
    text-align: center;
    
}
p{
    font-size: 1.2rem;
    line-height: 1.5;
    color: rgb(0, 0, 0);
    text-align: center;
}
body{
    background-color: rgb(207, 204, 204);
    font-family: arial,sans-serif;
    padding: 0;
    margin: 0;
}
.container{
    margin: 0;
    background-color: yellow;
    width: 80%;
    padding: 20px;
    margin: 0 auto;

}
@media (max-width: 768px){
    .container{
        width: 90%;
        padding: 10px;
    }
    h1{
        font-size: 20px;
       
    }
    p{
        font-size: 16px;
    }
}
