*{
    margin: 10px;
    padding: 0;
    margin-left: 4px;
    margin-bottom: 30px;
}
#menuHamb{
   display: none;
}
.menuBotao{
    display: block;
    width: 30px;
    height: 25px;
    position: relative;
    cursor: pointer;
}
.hamburger,
.hamburger::before,
.hamburger::after
{
    display: block;
    background-color: rgb(94, 92, 92);
    height: 3px;
    border-radius: 10px;
    position: absolute;
    transition: background-color 0.3s ease;
    width: 100%;
    content: "";

}
.menuBotao:hover .hamburger
.menuBotao:hover .hamburger
.menuBotao:hover .hamburger
{
    background-color:black;
}



.hamburger::before{
    top: 8px;
}
.hamburger::after{
    bottom: 8px;
}
.menu{
    list-style: none;
    background-color: rgb(199, 195, 195);
    position: absolute;
    top: 60px;
    left: 5px;
    width: auto;
    height: 0;
    transition: height 0.3s ease;
    overflow: hidden;
}
.menu.open{
    height: auto;
}
.menu li{
    margin: 10px;
    text-align: center;
}
.menu a{
    text-decoration: none;
    color: rgb(94, 92, 92);
    font-size: 18px;
}
