<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site de Viagens</title>
    <link rel="stylesheet" href="style.css">
    <script src="vue.global.js"></script>
</head>
<body>
    <!-- conteúdo do cabeçalho da página -->
    <header>
        <!-- seção de navegação do html  -->
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#destinos">Destino</a></li>
                <li><a href="#contato">Contato</a></li>
            </ul><!--fechamento lista-->
        </nav><!--fechamento tag nav-->
    </header><!--fechamento tag header-->

    <section id="home">
        <h1>{{mensagem}}</h1>
        <p>Explore o mundo conosco!</p>
    </section><!--fechamento seção-->
    <section id="destinos">
        <h2>Destinos populares</h2>
        <div class="destino">
            <img src="./imagens/buenos.jpg">
            <h3>Buenos Aires</h3>
            <p>Cidade recomendada para quem ama o frio!</p>
        </div><!--fechamento div destinos 1-->

        <div class="destino">
            <img src="./imagens/Disney.jpg">
            <h3>Disney</h3>
            <p>Cidade para comemorar e se divertir</p>
        </div><!--fechamento div destino 2-->

    </section><!--fechamento da seçao destinos-->
    <section id="contato">
        <h2>Converse conosco</h2>
        <form>
            <Label for="nome">Nome:</Label>
            <input type="text" v-model="nome"required>

            <label for="email">E-mail:</label>
            <input type="email" v-model="email"required>

            <label for="msg">Mensagem:</label>
            <textarea v-model="msg" required></textarea>

            <button type="submit">ENVIAR</button>
        </form><!--fechamento form-->
    </section><!--fechamento seçao contato-->
        <!-- configuraçao do rodapé da página -->
    <footer>
        <p>&copy; 2023 Style Viagens. Todos os direitos reservados.</p>
    </footer>
    <!--fazendo a chamada do script javascript-->
    <script src="process.js"></script>
    
</body>
</html>