*{
    padding: 0;
    margin: 0;
}
body{
    font-family: arial,sans-serif;
    background-color: rgb(231, 231, 232);
    
}
header{
    background-color: #333;
    color: rgb(243, 239, 239);
    padding: 20px;
    text-align: center;

}
nav ul{
    list-style-type: none;
}
nav ul li{
    display: inline;
    margin-right: 20px;
}

nav ul li a{
    color: rgb(243, 239, 239);
    text-decoration: none;
}
section{
    padding: 20px;
}
.destino{
    margin-bottom: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 60%;
    margin: 0 auto;

}
.destino img{
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 10px;
}
footer{
    background-color: #333;
    color: rgb(243, 239, 239);
    padding: 20px;
    text-align: center;
}
form{
    max-width: 400px;
    margin: 0 auto;    
}
label{
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}
form input,textarea{
    width:100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    margin-bottom: 15px;
}
h3{
    text-align: center;
    text-decoration: underline;
}
h2{
    text-align: center;
    text-decoration: underline;
}
h1{
    text-align: center;
    text-decoration: underline;
    font-family: cursive;
    font-size: 40px;
}
p{
    text-align: center;
}
form button{
    padding: 10px 20px;
    background-color: #333;
    color: rgb(243, 239, 239);
    border: none;
    border-radius: 10px;
    cursor: pointer;   
}
form button:hover{
    background-color: #737272;
}