.app{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    color: crimson;
    font-family: cursive;
}
.conteudo{
    width: 80%;
    height: 80%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}
button{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: crimson;
    color: white;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    font-family: cursive;
}
button:hover{
    background-color: darkred;
    transition: all 1s ease-in-out;
}